* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.game-canvas {
  border: 5px solid #dadada;
  border-top: none;
  padding: 0 3px;
}

.game-container {
  background: url(../images/photo-deep-space.jpg) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level-container {
  width: 277px;
  text-align: center;
  color: #000;
  font-family: sans-serif, Arial;
  font-weight: bold;
  position: relative;
}

.sound-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../images/sound-on.png");
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  top: 50%;
  left: 10px;
  cursor: pointer;
}

.sound-icon.on {
  background-image: url("../images/sound-on.png");
}

.sound-icon.off {
  background-image: url("../images/sound-off.png");
}

@media screen and (max-width: 400px) {
  .level-container {
    width: 100% !important;
  }
  .game-canvas {
    width: 100% !important;
  }
}

/* ======= Anna Borisenko styles========== */
/* styles for scores-block */

.scores-container {
  position: absolute;
  top: 0%;
}
.scores-container h1,
.scores-container span {
  text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
  color: white;
  transition: all 0.5s;
  margin-inline: 5px;
}

.scores-container h1:hover,
.scores-container span:hover {
  text-shadow: -1px -1px 1px silver, 1px -1px 1px silver;
  color: white;
}

.game-over-text {
  text-align: center;
  top: 50%;
  position: absolute;
  text-shadow: 1px 3px 1px #8bc34a, 1px 2px 1px #ffeb3b;
  color: #e61a5c;
  transition: all 0.5s;
}

#copyAddress {
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #f137a6 inset, 0 0 0 0 #f137a6;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
}

#copyAddress:hover {
  box-shadow: 0 0 10px 0 #f137a6 inset, 0 0 10px 4px #f137a6;
  color: #f137a6;
}

#egeinButton {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #fe6637;
  transition: 0.2s ease-in-out;
}

#egeinButton:before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}

#egeinButton:hover {
  background: #fe6637;
  color: #fff;
}

#egeinButton:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}

.next-level-text {
  top: 5%;
  position: absolute;
  text-transform: uppercase;
  color: rgb(255, 100, 100);
  text-shadow: 6px 6px 0px rgba(161, 140, 140, 0.2);
}
